/* Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
/* End Font */

body{
    font-family: Poppins;
}

.text__blue {
    color: #1F4EA6 !important;
}

.bg__img {
    background: url(../img/pazM9TQJ2Ck.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.navbar__z{
    z-index: 1;

}

.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem;
}

.navbar__login {
    text-decoration: none;
    font-size: .75rem;
    border: 1px solid #1F4EA6;
    box-sizing: border-box;
    border-radius: 10px;
    padding: .5rem 1.25rem;
    color: #353535;
    margin-left: .5rem;
    font-family: Poppins;
}

.navbar__register {
    text-decoration: none;
    font-size: .75rem;
    border: 1px solid #1F4EA6;
    box-sizing: border-box;
    border-radius: 10px;
    padding: .5rem 1.25rem;
    background-color: #1F4EA6;
    color: #fff;
    margin-left: .5rem;
    font-family: Poppins;
}

.navbar__menu {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

/* Login & Register */

.card__form{
    border: none !important;
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0px 6px 8px rgba(51, 51, 51, 0.04);
    padding: 1rem;
}

.card__form h2 {
    color: #353535;
    margin: 0;
}

.card__form > .card-body > p {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    color: #828282;
}

.card__form > .card-body > p > a {
    text-decoration: none;
    color: #1F4EA6;
    font-weight: bold;
}

.form-group span{
    color: #353535;
    font-size: 1.25rem;
    padding-bottom: 1rem;
}

.form__login {
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-clip: padding-box;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    background: #FFFFFF;
    border: 0.75px solid #E9E9E9;
    box-sizing: border-box;
    border-radius: 8px;
    padding: .75rem 1rem;

    margin-top: .5rem;
    margin-bottom: 1.5rem;

}

.form__select{
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-clip: padding-box;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    background: #FFFFFF;
    border: 0.75px solid #E9E9E9;
    box-sizing: border-box;
    border-radius: 8px;
    padding: .75rem 1rem;
    height: 3.25rem;

    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    
}

.forgot__link {
    color: #1F4EA6;
}

.btn__login {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    background: linear-gradient(180deg, #1F4EA6 0%, #309BA5 100%);
    border: 1px solid #fff;
    border-radius: 10px;
    color: #fff;
    padding: 1rem;
}

.copyright__login{
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    color: #1F4EA6;
    display: block;
}

/* Verify Account */
.form__verify {
    display: block;
    height: 60px;
    margin-right: 1rem;
    text-align: center;
    font-size: 1.25rem;
    min-width: 0;

    
    background: #FFFFFF;
    border: 0.75px solid #E9E9E9;
    box-sizing: border-box;
    border-radius: 8px;
    padding: .75rem 1rem;
}
.form__verify:last-child {
    margin-right: 0;
}
@media (max-width: 768px) {
    .form__verify {
        height: 5.5rem;
    }
}

@media (max-width: 576px) {
    .form__verify {
        height: 4rem;
    }
}

.logo__check {
    border: .25rem solid #1F4EA6;
    border-radius: 20px;
    display: inline-block;
    margin: 2rem 0;
    
}


/* Upload */

.dropzone {
    margin-top: .5rem;
    margin-bottom: 1.5rem;
	height: 200px;
	display: flex;
	justify-content: center;
	align-content: center;
	border-radius: 8px;
    background: #E9E9E9;
	box-shadow: 10px 10px 20px rgba(87, 60, 60, 0.1);	
	transition: .1s;
	
}

.dropzone:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .1); 
}

.upload-input-trigger {
	cursor: pointer;	
	width: 100%;
	height: 100%;
	background-color: transparent;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	text-align: center;
}

.library {
	max-height: 400px;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
	overflow-y: auto;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, .1);

}
.library .item {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

   
} 
.item img {
    max-width: 200px;
    max-height: 200px;
}

/* END Upload */


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 300px;
    position: fixed;
    top: 0;
    left: -300px;
    height: 100vh;
    z-index: 999;
    background: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    left: 0;
}

.sidebar__profile{
    /* background: linear-gradient(95.74deg, #1F4EA6 1.19%, #309BA5 108.3%); */
    border-radius: 10px;
    margin: 1rem;
    color: #fff;
}

.bg__profile_sidebar{
    background: linear-gradient(95.74deg, #1F4EA6 1.19%, #309BA5 108.3%);
    border-radius: 10px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.sidebar__profile_data{
    padding-left: 4rem;
}

.sidebar__profile img {
    height: 50px;
}

.name_profile__sidebar{
    font-size: 11pt;
    font-weight: bold;
    display: block;
}
.email_profile__sidebar{
    font-size: 7pt;
    display: block;
    text-decoration: underline;
}
.edit_profile__sidebar{
    font-size: 7pt;
    font-weight: bold;
    display: inline-block;
    color: #fff;
    margin-top: .5rem;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}